body {
    font-family: 'Roboto', ;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 50px;
    margin-top: -28px;
}
.text-area {
    margin: 0;

}
h2 {
    font-size: 40px;
}
.orangered-highlight {
    color: orangered;
}
p {
    color: dimgray;
    padding-bottom: 25px;
    line-height: 25px;
    text-justify: auto;
}
.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img {
    width: 100%;
}
.top-banner {
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
}
section {
    height: 500px;
    padding-bottom: 150px;;
}
.link-button {
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    height: 80px;
    margin : 20px;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
}

.bio-area {
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.text-1 {
    text-align: center;
}

.main-box {
   grid-gap: 60px;
    margin-top: 80px; 
    width: 98%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.main-box img {
    width: 100%;
}
.box-1 .b0x-2 .box-3 {
    transition: 1s;
}
.box-1:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 40px black;
}
.box-2:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 40px black;
}
.box-3:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 40px black;
}

.feedback-area h2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;

}
.feedback-area img {
    display: block;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 50%;
}
.feedback-area h3 {
    text-align: center;
}
.feedback-area h3 {
    text-align: center;
}
.feedback-area p {
    text-align: center;
}
.boxed {
    border: none;
    border-radius: 10px;
    color: white;
    width: 600px;
    background-image: linear-gradient(45deg, #403b4a, #e7e9bb);
    display: block;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
}
.boxed h5 {
    font-size: 16px;
}

.boxed h4 {
    font-size: 22px;
    font-weight: 500;
}
.copywrite {
    text-align: center;
    font-size: 12px;
    color: dimgray;
}

.footer .bg-img{
    background-image: url("images/footer-bg.png");
    background-repeat: no-repeat; 
}